
 <td width="8%" align="center" valign="top">
    <% name = usage.principle.name %>
    <% amount = "amount_" + name %>
    <% @enabled ||= false %>
    <br>
    <script>
      pp_slider("<%= name %>", "<%= usage.value %>", <%= @enabled %>)
    </script>

    <div id="usage">
        <div id="<%= name %>" style="height:200px;"></div>
        <br>
        <p>
          <lable for:"<%= name %>"><%= t name %></lable>
        </p>
        <p>
            <input type="hidden" id="<%= amount %>" name="usages[<%= name %>][]" readonly style="border:0; color:#f6931f; font-weight:bold;" value=<%= usage.value %>>
        </p>
    </div>
 </td>
