<h1><%= t('project.index') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('project.name') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= link_to t('show'), project %></td>
        <td><%= link_to t('edit'), edit_project_path(project) %></td>
        <td><%= link_to t('destroy'), project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('project.new'), new_project_path %>
