
<p id="notice"><%= notice %></p>

<p>
  <strong>Project Name:</strong>
  <%= @project.name %>
  <strong>Snapshot Date:</strong>
  <%= latest_snapshot_date(@project).strftime("%F %T") %>
</p>
<%= render :partial => 'value_set.html.erb' %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
