
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('project.name') %></strong>
  <%= @project.name %>
  <%= link_to t('edit'), edit_project_path(@project) %> |
  <%= link_to t('back'), projects_path %>
</p>
<% @snapshot =  latest_snapshot(@project) %>
<%= render @snapshot %>


