<%- model_class = Project -%>
<div class="dl-horizontal">
  <h3><%=t '.title', :default => model_class.model_name.human.titleize %> <%= model_class.human_attribute_name(:name)%>: <%= @project.name %></h3>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn'  %>
</div>
<div id="snapshot">
   <h3>Latest Project Snapshot</h3>
  <% @snapshot =  latest_snapshot(@project) %>
  <%= render @snapshot %>
</div>

