<%= form_for [@project, @value_set] do |f| %>
    <% if @value_set.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@value_set.errors.count, "error") %> prohibited this value_set from being saved:</h2>

          <ul>
            <% @value_set.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %><br>
    </div>
    <div>
        <table>
          <tr>
            <% @value_set.values.each do |value| %>
                <%= render value  %>
            <% end %>

          </tr>
        </table>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
