<script>
    all_sliders(false)
</script>
<p id="notice"><%= notice %></p>
<%= render 'value_sets/head' %>
<%= render @value_set %>

<%= link_to 'Edit', edit_project_value_set_path(@project, @value_set) %> |
<%= link_to 'Back', project_value_set_path(@project, @value_set) %>
