<!DOCTYPE html>
<html>
<head>
  <title>PermacultureAnalysisTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.10.4.custom.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'js/jquery-ui-1.10.4.custom.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'pp_slider.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
